h1
{
   text-align: center;
   background-color: rgb(236, 164, 164);
   height:150px;
}
p
{
   background-color: Tomato;
   width: 1000px;
   border: 20px solid beige ;
   padding: 100px;
   margin: 50px;
   font-family: 'Ephesis', cursive;
   font-size: 50px;
}
p.outset 
{
    border-style: outset;
}